################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/Drdo.Web/v15/Server/sqlite3
/.vs/Drdo.Web/v15
/.vs
/.vs
